<!-- This is the ticker part -->

<div class = "ticker_window">
	<div class = "ticker_window_box">	
		<!-- <img class = "logo" src="http://logonoid.com/images/td-bank-logo.png" alt=""> -->
		<% if @user.logs.last.stock_id != nil && @stock == Stock.find(@user.logs.last.stock_id).yahoo_symbol %>
			<div id = "sell">
				<%= form_tag("sell") do %>
					<%= hidden_field_tag :sell_action %>
					<%= submit_tag "SELL", data: { confirm: "Are you sure you want to get out of #{@stock}?" } %>
				<% end %>
			</div>	
		<% else %>	
			<div id = "buy">
				<%= form_tag("buy") do %>
					<%= hidden_field_tag :buy_action %>
					<%= submit_tag "BUY", data: { confirm: "Are you sure you want to put all your eggs in #{@stock}?" } %>
				<% end %>
			</div>
		<% end %>

		<div id = "company"></div>
		<div id = "tick"></div>
		<div id = "last_trade"></div>
		<div id = "change"></div>
		
		<div id = "bottom_left">
			<span>Previous Close: </span>
			<span id = "pre_close"></span>
			<div id = "last_update">Last updated: <span id = "timeago"></span></div>
		</div>
		
		<div id = "bottom_right">
			<span>52-week range </span>
			<span id = "range"> </span>
		</div>
	</div>
</div>
