<!-- This is the Twitter window -->

<div class = "twitter_window">
	
	<div class = "tweet_counts">
		<% tweet_url_counts = @tweet_url + "tweet?text=" + @twitter_ticker + " tweet%20counts%20spiked!%20Wonder%20what%20the%20hype%20is%20about." %>
		<i class="fa fa-twitter-square"></i>
		Twitter trend <span id="sparkline">&nbsp;</span> 
		
		<%= link_to tweet_url_counts do %>
			<i class="fa fa-spinner fa-spin"></i>
		<% end %>
	</div>

	<ul class = "tweet_list">
		<% @tweets.each do |key, value| %>
			<li>
				<div class="comment">
					<div class="comment-image">
						<%= image_tag (key[:profile_img_url]) %>
					</div>
					<div class="comment-content">
						<div class="badges">
							<h1><em><%= key[:username] %></em></h1>
							<span class="badge notice"><%= time_ago_in_words(key[:tweet_created_at]) %> ago</span>
							<% if key[:retweet_count]>0 %>
								<span class="badge success"><%= key[:retweet_count] %> Retweets </span>
							<% end %>
							
							<% tweet_url_favorite = @tweet_url + "favorite?tweet_id=" + key[:tweet_id].to_s %>
							<%= link_to image_tag('favorite_default.png', :class => "twitter_button"), tweet_url_favorite %>

							<% tweet_url_reply = @tweet_url + "tweet?in_reply_to=" + key[:tweet_id].to_s %>
							<%= link_to image_tag('reply_default.png', :class => "twitter_button"), tweet_url_reply %>

							<% tweet_url_retweet = @tweet_url + "retweet?tweet_id=" + key[:tweet_id].to_s %>
							<%= link_to image_tag('retweet_default.png', :class => "twitter_button"), tweet_url_retweet %>
						</div>
						<p><%= key[:text] %></p>
					</div>
				</div>
			</li>
		<% end %>
	</ul>	


</div>
