<h1>Hello World</h1>


<% counter = 0 %>

	<% @tweets.each do |key, value| %>
<div class = "tweet">
		<div class = "profile_pic"><%= image_tag (key[:profile_img_url]) %> </div>
		<div class = "tweet_content"> 
			<%= key[:text] %> <br>
			by <em><%= key[:username] %></em> <%= key[:tweet_created_at] %> 
			<div class ="retweets">retweets: <%= key[:retweet_count] %></div> <br>
		</div>
</div>
		<% counter += 1 %>
	<% end %>

There are <%= counter %> tweets!

