
<div class="side-image">
  <div class="images-wrapper">
  	<h2>Account Information</h2>
  	<%= image_tag @user.user_image, :class => "profile_pic" %>
  	<p>Username: <span class = "user_info"><%= @user.email %></span> </p>
  	<p>Member since: <span class = "user_info"><%= @user.created_at.strftime("%b %d, %Y") %></span></p>
    <!-- future feature to identify investor type -->
  	<p>Investor type: <span class = "investor_type">Buy-and-Hold</span></p>
  	<br>
  	<br>
  	<br>
    <%= link_to 'Go to my Dashboard', root_url, :class => "sign-up" %>	
  </div>

  <div class="content">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: "flash-notice" %>
      <% end %>

    <h2>My Portfolio:</h2>
    <% if @user.stocks.length>0 %>
      <table class="table-borders">
        <thead>
          <tr>
            <th>Stock name</th>
            <th>Ticker Symbol</th>
            <th>Remove?</th>
          </tr>
        </thead>
        <tbody>
          <% @user.stocks.order(:yahoo_symbol).each do |stock| %>
            <tr>
              <td><%= stock.company_name %></td>
              <td><%= stock.yahoo_symbol %></td>
              <td><button><%= link_to 'Remove', stock, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <h6>You currently don't have any stocks in your portfolio.</h2>
    <% end %>
    <p>*add stocks to your portfolio by using the search bar at the top of this page.</p>
  </div>

</div>



<!-- Game profile here -->
<!-- active since -->
<!-- points -->
<!-- I have all my eggs in ?? -->
<!-- type of investor -->
<!-- newb, active, churner, buy-and-hold -->
