

<p>
  Welcome back, <%= @user.email %>!
</p>

<h2>My favorite 3 stocks:</h2>

<ul>
	<% @user.stocks.each do |stock| %>
		<li><%= stock.company_name %></li>
<% end %>
</ul>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Dashboard', root_url %>


<aside>
	<h2>Account Information</h2>
	<%= image_tag @user.user_image %>
	<p>username</p>
	<p>member since</p>
	<p>investor type</p>
	<p>sign out button</p>

</aside>


<!-- Game profile here -->
<!-- active since -->
<!-- points -->
<!-- I have all my eggs in ?? -->
<!-- type of investor -->
<!-- newb, active, churner, buy-and-hold -->