
<div class="hero">
	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "flash-notice" %>
	<% end %>
	<div class="hero-inner">
		<a href="" class="hero-logo"><%= image_tag("logo_white.gif", :alt => "Logo image") %></a>
		<div class="hero-copy">
			<h1>Basket. One.</h1>
			<p>This application provides novice investors a gamified investing experience and let them share their experiences within the Twitter community.</p>
		</div>
		<button><%= image_tag "bird_blue_med.png" %> <%= link_to 'Sign in with Twitter', auth_at_provider_path(:provider => :twitter) %></button>
	</div>
</div>
<!-- insert -->

<div class="device-background">
	<div class="device-text">
		<h4>Always on the go?</h4>
		<p>The real-time dashboard works seemlessly on your mobile device.  So you can always be on top of the lastest data, news and Tweets about your investments.</p>
		<p>Click to visit the video demostration and see how easy it is to trade like a pro.</p>
		<div class="modal">
		  <label for="modal-1">
		    <div class="btn js-btn">View Demo</div>
		  </label>
		  <input class="modal-state" id="modal-1" type="checkbox" />
		  <div class="modal-window">
		    <div class="modal-inner">
		      <label class="modal-close" for="modal-1"></label>
		      <iframe src="//player.vimeo.com/video/753571" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		    </div>
		  </div>
		</div>

	</div>
	<div class="device">
		<div class="screen"></div>
	</div>
</div>

<%= Vimeo::Simple::Video.info("video_id") %>
<!-- GRID -->

<ul class="bullets">
	<li class="bullet three-col-bullet">
		<div class="bullet-icon bullet-icon-6">
			<i class="fa fa-usd fa-2x"></i><i class="fa fa-eur fa-lg"></i>
		</div>
		<div class="bullet-content">
			<h2>Live trading data</h2>
			<p>Have access to major stock exchanges in the world.  View live trading data for your favorite stocks anywhere, anytime.</p>
		</div>
	</li> 
	<li class="bullet three-col-bullet">
		<div class="bullet-icon bullet-icon-3">
			<i class="fa fa-twitter fa-2x"></i>
		</div>
		<div class="bullet-content">
			<h2>Buy on rumours</h2>
			<p>There are no better way to tap into first hand information than reading all the latest and most popular Tweets about your favorite stock.  You can Tweet, re-Tweet, favourite and reply to others' Tweets effortlessly within the app.</p>
		</div>
	</li> 
	<li class="bullet three-col-bullet">
		<div class="bullet-icon bullet-icon-2">
			<i class="fa fa-newspaper-o fa-2x"></i>
		</div>
		<div class="bullet-content">
			<h2>Sell on news</h2>
			<p>Start your day with the latest news in the market.  Always be up-to-date with what's happening with your favorite stock.  Tweeter integrated intends allow you to share news easily among friends.</p>
		</div>
	</li>
	<li class="bullet three-col-bullet">
		<div class="bullet-icon bullet-icon-5">
			<i class="fa fa-gamepad fa-2x"></i>
		</div>
		<div class="bullet-content">
			<h2>Gamify your experience</h2>
			<p>Setup an account for free and you can Buy and Sell stocks with points.  Unleash your curiousity and try different strategies.  Daily valuations allow you to compare performance among your peers.</p>
		</div>
	</li>
	<li class="bullet three-col-bullet">
		<div class="bullet-icon bullet-icon-4">
			<i class="fa fa-pie-chart fa-2x"></i>
		</div>
		<div class="bullet-content">
			<h2>Up-to-date fundamentals</h2>
			<p>Interactive pie charts for various fundamental data.  See how stocks perform in different sectors, and industries.  Easy peer-to-peer comparison charts.</p>
		</div>
	</li>  
	<li class="bullet three-col-bullet">
		<div class="bullet-icon bullet-icon-1">
			<i class="fa fa-line-chart fa-2x"></i>
		</div>
		<div class="bullet-content">
			<h2>Interactive historicals</h2>
			<p>For the Technical analyts, you can zoom in and out to get a better picture of the performances.  You can also download the cart in various formats for sharing.</p>
		</div>
	</li>  
</ul>




<!-- Quote by Andrew Carnegie-->

<div class="q_container">
	<%= image_tag "carnegie.gif", :class => "q_image" %>	
	<div class="q_content">
		<p>"Concentrate your energies, your thoughts and your capital. The wise man puts all his eggs in one basket and watches the basket."</p>
		<p id = "author">Andrew Carnegie</p>
	</div>
</div>




