
<div class="hero">
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, class: "flash-notice" %>
	<% end %>
	<div class="hero-inner">
		<a href="" class="hero-logo"><%= image_tag("logo_white.gif", :alt => "Logo image") %></a>
		<div class="hero-copy">
			<h1>Basket. One.</h1>
			<p>This application provides novice investors a gamified investing experience and let them share their experiences within the Twitter community.</p>
		</div>
		<button><%= image_tag "bird_blue_med.png" %> <%= link_to 'Sign in with Twitter', auth_at_provider_path(:provider => :twitter) %></button>
	</div>
</div>

<!-- Quote by Andrew Carnegie-->

<div class="q_container">
	<%= image_tag "carnegie.gif", :class => "q_image" %>	
	<div class="q_content">
		<p>"Concentrate your energies, your thoughts and your capital. The wise man puts all his eggs in one basket and watches the basket."</p>
		<p id = "author">Andrew Carnegie</p>
	</div>
</div>



	
