
<div class="hero">
	<% flash.each do |name, msg| %>
	  <%= content_tag :div, msg, class: "flash-notice" %>
	<% end %>
	<div class="hero-inner">
		<a href="" class="hero-logo"><%= image_tag("logo_white.gif", :alt => "Logo image") %></a>
		<div class="hero-copy">
			<h1>Basket. One.</h1>
			<p>This application provides novice investors a gamified investing experience and let them share their experiences within the Twitter community.</p>
		</div>
		<button><%= image_tag "bird_blue_med.png" %> <%= link_to 'Sign in with Twitter', auth_at_provider_path(:provider => :twitter) %></button>
	</div>
</div>
<!-- insert -->

<div class="device-background">
  <div class="device-text">
    <h4>Always on the go?</h4>
    <p>The real-time dashboard works seemlessly on your mobile device.  So you can always be on top of the lastest data, news and Tweets about your investments.</p>
    <p>Click to visit the video demostration and see how easy it is to trade like a pro.</p>
    <button>Learn More</button>
  </div>
  <div class="device">
    <div class="screen"></div>
  </div>
</div>

<ul class="bullets">
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-1">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png
" alt="">
    </div>
    <div class="bullet-content">
      <h2>This Bullet Title</h2>
      <p>Lorem dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
  </li>  
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-2">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Another Bullet Title</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
    </div>
  </li>
  <li class="bullet three-col-bullet">
    <div class="bullet-icon bullet-icon-3">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_4.png" alt="">
    </div>
    <div class="bullet-content">
      <h2>Last Bullet Title</h2>
      <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
    </div>
  </li> 
</ul>





<!-- Quote by Andrew Carnegie-->

<div class="q_container">
	<%= image_tag "carnegie.gif", :class => "q_image" %>	
	<div class="q_content">
		<p>"Concentrate your energies, your thoughts and your capital. The wise man puts all his eggs in one basket and watches the basket."</p>
		<p id = "author">Andrew Carnegie</p>
	</div>
</div>



	
