<footer class="footer-2">
	<div class="footer-logo">
		<%= image_tag("logo_white.gif", :alt => "Logo image") %>
	</div>


	<div class="footer-secondary-links">
		<ul>
			<li><%= link_to "Terms and Conditions", index_rules_path %></li>

		</ul>

		<ul class="footer-social">

			<li>
				<%= link_to "https://github.com/Lazigerbill" do %>
					<i class="fa fa-github-square"></i>
				<% end %>
			</li>
			<li>
				<%= link_to "https://www.facebook.com/bill.chau.54" do %>
					<i class="fa fa-facebook-square"></i>
				<% end %>
			</li>
			<li>
				<%= link_to "https://twitter.com/intent/tweet?hashtags=basketone" do %>
					<i class="fa fa-twitter-square"></i>
				<% end %>
			</li>
			<li>
				<%= link_to "https://ca.linkedin.com/pub/bill-chau/4a/629/722/" do %>
					<i class="fa fa-linkedin-square"></i>
				<% end %>
			</li>
		</ul>
	</div>
</footer>