<!DOCTYPE html>
<html>
<head>
	<title>Final</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'http://code.jquery.com/ui/1.11.1/jquery-ui.js' %>
	<%= javascript_include_tag 'http://code.highcharts.com/stock/highstock.js' %>
	<%= javascript_include_tag 'http://code.highcharts.com/stock/modules/exporting.js' %>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<%= csrf_meta_tags %>
</head>

<body>
	
	<%= render '/layouts/nav_bar' %>
	
	<%= javascript_tag do %>
		<% if @tweet_array.present? %>
			window.tweet_count = <%= @tweet_array %>;
		<% else %>
			window.tweet_count = 0;
		<% end %>
		<% if @stock.present? %>
			window.qticker = "<%= @stock %>";
		<% else %>
			window.qticker = "TD";
		<% end %>
	<% end %>

	<div class="wrapper-for-content-outside-of-footer">

		<%= yield %>

		<div class="push"></div>
	</div>

	<%= render '/layouts/footer' %>
	


</body>
</html>
