<!DOCTYPE html>
<html>
<head>
	<title>Final</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'http://code.jquery.com/ui/1.11.1/jquery-ui.js' %>
	<%= javascript_include_tag 'http://code.highcharts.com/stock/highstock.js' %>
	<%= javascript_include_tag 'http://code.highcharts.com/stock/modules/exporting.js' %>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	<%= csrf_meta_tags %>
</head>

<body>
	<!-- HEADER -->
	<% if current_user %>
		<header class="navigation">
			<div class="navigation-wrapper">
				<a href="javascript:void(0)" class="logo">
					<%= image_tag "logo_white.gif" %>
				</a>
				<a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
				<div class="nav">
					<ul id="navigation-menu">
						<li class="nav-link"><%= link_to "My Portfolio" %></li>
						<li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
						<li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
						<li class="nav-link more"><a href="javascript:void(0)">More</a>
							<ul class="submenu">
								<li><a href="javascript:void(0)">Submenu Item</a></li>
								<li><a href="javascript:void(0)">Another Item</a></li>
								<li class="more"><a href="javascript:void(0)">Item with submenu</a>
									<ul class="submenu">
										<li><a href="javascript:void(0)">Sub-submenu Item</a></li>
										<li><a href="javascript:void(0)">Another Item</a></li>
									</ul>
								</li>
								<li class="more"><a href="javascript:void(0)">Another submenu</a>
									<ul class="submenu">
										<li><a href="javascript:void(0)">Sub-submenu</a></li>
										<li><a href="javascript:void(0)">An Item</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="navigation-tools">
					<div class="search-bar">
						<div class="search-and-submit">
							
							<%= form_tag edit_user_path(@user), method: :get, authentication: false do %>
							<%= text_field_tag :search, nil,  :placeholder => "Company name", :type => "search" %>
			<!-- 				<input type="search" placeholder="Enter Search" /> -->
							<button type="submit">
								<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
							</button>
							<% end %>

						</div>


					</div>
					<% if current_user %>
					<%= link_to "Logout", :logout, method: :post, :class => "sign-up" %>
					<% else %>
					<%= link_to 'Sign in', auth_at_provider_path(:provider => :twitter), :class => "sign-up" %>	
					<% end %>
				</div>
			</div>
		</header>
	<% end %>
	
	<%= javascript_tag do %>
		<% if @tweet_array.present? %>
			window.tweet_count = <%= @tweet_array %>;
		<% else %>
			window.tweet_count = 0;
		<% end %>
		<% if @quote_ticker.present? %>
			window.qticker = "<%= @quote_ticker %>";
		<% else %>
			window.qticker = "TD";
		<% end %>
	<% end %>

	<div class="wrapper-for-content-outside-of-footer">

		<%= yield %>

		<div class="push"></div>
	</div>

	<!-- FOOTER -->
	<footer class="footer-2">
		<div class="footer-logo">
			<%= image_tag("logo_white.gif", :alt => "Logo image") %>
		</div>


		<div class="footer-secondary-links">
			<ul>
				<li><a href="javascript:void(0)">Terms and Conditions</a></li>
				<li><a href="javascript:void(0)">Privacy Policy</a></li>
			</ul>

			<ul class="footer-social">
				<li><a href="javascript:void(0)">
					<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
				</a></li>
				<li><a href="javascript:void(0)">
					<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
				</a></li>
				<li><a href="javascript:void(0)">
					<img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
				</a></li>
			</ul>
		</div>
	</footer>


</body>
</html>
