<!DOCTYPE html>
<html>
<head>
	<title>Final</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'http://code.jquery.com/ui/1.11.1/jquery-ui.js' %>
	<%= javascript_include_tag 'http://code.highcharts.com/stock/highstock.js' %>
	<%= javascript_include_tag 'http://code.highcharts.com/stock/modules/exporting.js' %>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="nav">
		<% if current_user %>
		<%= link_to "Edit Profile", edit_user_path(current_user.id) %>
		<%= link_to "Logout", :logout, method: :post %>
		<% else %>

		<%= link_to image_tag('https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-gray.png'), auth_at_provider_path(:provider => :twitter) %>
		<% end %>
	</div>
	<div>
		<p id="notice"><%= flash[:notice] %></p>
		<p id="alert"><%= flash[:alert] %></p>
	</div>
	
	<%= yield %>




</body>
</html>
